<nav>
    <h2>
        {% comment %} <a href="{% url 'posts' %}">Capstone Social</a> {% endcomment %}
    </h2>
    
    <div class="links">
        {% if not request.user.is_anonymous %}
            <a href="{% url 'logout' %}">logout</a>
            <a href="{% url 'profile' request.user.id %}">profile</a>
            <a href="{% url 'search' %}">search</a>
        {% else %}
            <a href="{% url 'register' %}">register</a>
            <a href="{% url 'login' %}">login</a>
        {% endif %}
    </div>
</nav>
