{% extends 'capapp/base.html' %}
{% block load %}
{% load static %}
{% endblock load %}
{% block header %}
<script>
    const post = {{post.id}};
</script>
<script defer src="{% static 'capapp/delete_post.js' %}"></script>
<script defer src="{% static 'capapp/delete_comment.js' %}"></script>
<script defer src="{% static 'capapp/comments.js' %}"></script>
{% endblock header %}
{% block title %}Comments{% endblock title %}
{% block content %}
    <figure class="bg-slate-50 rounded-xl p-4 m-2">
        <div class="pt-6 space-y-4" id="post">
            <div class="flex" id="post-head">
                <a class="px-6" href="{% url 'profile' post.user.id %}"><img class=" border w-24 h-24 rounded-full" src={{post.user.user_profile.profile_image}} alt="{{post.user.first_name}} {{post.user.last_name}}'s profile picture"></a>
                <div class="text-left">
                    <a class="text-slate-500 pr-3" href="{% url 'profile' post.user.id %}">{{post.user.first_name}} {{post.user.last_name}}</a>
                    <span class="text-slate-500 px-3">Created: {{post.date_created}}</span>
                    <span class="text-slate-500 px-3">Edited: {{post.date_edited}}</span>
                    {% if post.image %}
                        <img src={{post.image}} alt="{{post.user.first_name}} {{post.user.last_name}}'s post">
                    {% endif %}
                    <p class="text-lg font-medium">{{post.text_content}}</p>
                </div>
            </div>
            <a class="inline-block px-6 py-2.5 bg-sky-200 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-sky-300 hover:shadow-lg focus:bg-sky-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-sky-400 active:shadow-lg transition duration-150 ease-in-out" href={% url 'make_comment' post.id %}>Comment</a>
            {% if post.user == request.user %}
                <a class="inline-block px-6 py-2.5 bg-rose-200 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-rose-300 hover:shadow-lg focus:bg-rose-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-rose-400 active:shadow-lg transition duration-150 ease-in-out" href={% url 'edit_post' post.id %}>Edit</a>
                <a onclick="delete_post({{post.id}});" id="delete-{{post.id}}" class="inline-block px-6 py-2.5 bg-yellow-200 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-yellow-300 hover:shadow-lg focus:bg-yellow-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-yellow-400 active:shadow-lg transition duration-150 ease-in-out">Delete</a>
            {% endif %}
        </div>
    </figure>
    <div id="comments"></div>
{% endblock content %}