{% extends 'capapp/base.html' %}
{% block title %}Feed{% endblock title %}
{% block content %}
    <p>Make new post:</p>
    <form action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        <div class="flex">
            <div>
                <p>Post to followers: {{form.public}}</p>
                <p>Post to friends: {{form.private}}</p>
            </div>
            <div>
                <p>Post: {{form.text_content}}</p>
                <p>Image: {{form.image}}</p>
                <p>Video: {{form.video}}</p>
            </div>
        </div>
        <button class="inline-block px-6 py-2.5 bg-sky-200 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-sky-300 hover:shadow-lg focus:bg-sky-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-sky-400 active:shadow-lg transition duration-150 ease-in-out">Post</button>
    </form>
    {% for post in feed %}
        <figure class="bg-slate-50 rounded-xl p-4 m-2">
            <div class="space-y-4" id="post">
                <div class="flex" id="post-head">
                    <a href="{% url 'profile' post.user.id %}"><img class=" border w-24 h-24 rounded-full" src={{post.user.user_profile.profile_image}} alt="{{post.user.first_name}} {{post.user.last_name}}'s profile picture"></a>
                    <div class="text-left">  
                        <a href="{% url 'profile' post.user.id %}">{{post.user.first_name}} {{post.user.last_name}}</a>
                        <span>Created: {{post.date_created}}</span>
                        <span>Edited: {{post.date_edited}}</span>
                        {% if post.image %}
                            <img src={{post.image}} alt="{{post.user.first_name}} {{post.user.last_name}}'s post">
                        {% endif %}
                        <p>{{post.text_content}}</p>
                    </div>
                </div>
                <a class="inline-block px-6 py-2.5 bg-sky-200 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-sky-300 hover:shadow-lg focus:bg-sky-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-sky-400 active:shadow-lg transition duration-150 ease-in-out" href={% url 'comments' post.id %}>Comments</a>
                {% if post.user == request.user %}
                    <a class="inline-block px-6 py-2.5 bg-rose-200 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-rose-300 hover:shadow-lg focus:bg-rose-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-rose-400 active:shadow-lg transition duration-150 ease-in-out" href={% url 'edit_post' post.id %}>Edit</a>
                {% endif %}
            </div>
        </figure>
    {% endfor %}
{% endblock content %}