{% extends 'capapp/base.html' %}
{% block title %}Feed{% endblock title %}
{% block content %}
    <form action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button>Post</button>
    </form>
    {% for post in feed %}
    <a href="{% url 'profile' post.user.id %}"><img src={{post.user.user_profile.profile_image}} alt="{{post.user.first_name}} {{post.user.last_name}}'s profile picture"></a>
    <a href="{% url 'profile' post.user.id %}">{{post.user.first_name}} {{post.user.last_name}}</a>
    <span>Created: {{post.date_created}}</span>
    <span>Edited: {{post.date_edited}}</span>
    {% if post.image != "" %}
    <img src={{post.image}} alt="{{post.user.first_name}} {{post.user.last_name}}'s post">
    {% endif %}
    <p>{{post.text_content}}</p>
    <a href="">Comments</a>
    {% if post.user == request.user %}
    <a href={% url 'edit_post' post.id %}>Edit</a>
    {% endif %}
    {% endfor %}
{% endblock content %}