{% extends 'capapp/base.html' %}
{% block load %}
{% load static %}
{% endblock load %}
{% block header %}
{% if user == request.user %}
<script>
    const user = {{user.id}}
</script>
{% endif %}
<script defer src="{% static 'capapp/delete_post.js' %}"></script>
<script defer src="{% static 'capapp/associate_sort.js' %}"></script>
{% endblock header %}
{% block title %}
    {% if user == request.user %}
        {{request.user.username}}
    {% else %}
        {{user.first_name}}
    {% endif %}
{% endblock title %}
{% block content %}
    {% if user == request.user %}
        <h4>Hello {{request.user.username}}</h4>
    {% endif %}
    <p>{{user.first_name}} {{user.last_name}}</p>
    <div class="flex" id="post-head">
        <img class="m-3 border w-96 h-96 rounded-full" src="{{user.user_profile.profile_image}}" alt="{{user.first_name}} {{user.last_name}}'s profile picture">
        <div class='flex items-center justify-center'>
            <div>
                {% if user != request.user %}
                    <a class="inline-block px-6 py-2.5 bg-sky-200 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-sky-300 hover:shadow-lg focus:bg-sky-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-sky-400 active:shadow-lg transition duration-150 ease-in-out" href="{% url 'friend' user.id %}">{{friend}}</a>
                    {% if follower %}
                        <a class="inline-block px-6 py-2.5 bg-rose-200 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-rose-300 hover:shadow-lg focus:bg-rose-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-rose-400 active:shadow-lg transition duration-150 ease-in-out" href="{% url 'follow' user.id %}">Unfollow</a>
                    {% else %}
                        <a class="inline-block px-6 py-2.5 bg-rose-200 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-rose-300 hover:shadow-lg focus:bg-rose-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-rose-400 active:shadow-lg transition duration-150 ease-in-out" href="{% url 'follow' user.id %}">Follow</a>
                    {% endif %}
                    {% if blocked %}
                        <a class="inline-block px-6 py-2.5 bg-yellow-200 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-yellow-300 hover:shadow-lg focus:bg-yellow-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-yellow-400 active:shadow-lg transition duration-150 ease-in-out" href="{% url 'block' user.id %}">Unblock</a>
                    {% else %}
                        <a class="inline-block px-6 py-2.5 bg-yellow-200 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-yellow-300 hover:shadow-lg focus:bg-yellow-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-yellow-400 active:shadow-lg transition duration-150 ease-in-out" href="{% url 'block' user.id %}">Block</a>
                    {% endif %}
                {% endif %}
                {% if user == request.user %}
                    <div>
                        {% if unconfirmed %}
                            <p>Unconfirmed:</p>
                            <div class="flex w-screen flex-no-wrap overflow-x-scroll scrolling-touch hide-scroll-bar items-start mb-8">
                                {% for potential in unconfirmed %}
                                    <div class="mx-2">
                                        <a href="{% url 'profile' potential.id %}"><img class=" border w-24 h-24 rounded-full" src={{potential.user_profile.profile_image}} alt="{{potential.first_name}} {{potential.last_name}}'s profile picture"></a>
                                        <a href="{% url 'profile' potential.id %}"><p>{{potential.first_name}}</p><p>{{potential.last_name}}</p></a>
                                    </div>
                                {% endfor %}
                            </div>  
                        {% endif %}
                    </div>
                {% endif %}
                <p>age: {{age}}</p>
                <p>location: {{location}}</p>
                <p>phone: {{phone}}</p>
                <p>email: {{email}}</p>
                <p>gender: {{gender}}</p>
                <p>work: {{work}}</p>
                <p>education: {{education}}</p>
                <p>birthday: {{birthday}}</p>
                <p>date joined: {{date_joined}}</p>
            </div>
        </div>
    </div>
    {% if user == request.user %}
        <a class="inline-block px-6 py-2.5 bg-rose-200 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-rose-300 hover:shadow-lg focus:bg-rose-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-rose-400 active:shadow-lg transition duration-150 ease-in-out"
         href={% url 'edit_profile' %}>edit profile</a>
    {% endif %}
    {% if friend == "Unfriend" %}
    <a class="inline-block px-6 py-2.5 bg-sky-200 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-sky-300 hover:shadow-lg focus:bg-sky-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-sky-400 active:shadow-lg transition duration-150 ease-in-out"
     href={% url 'chat' user.id %}>Chat</a>
    {% endif %}
    {% if user.user_profile.images.all %}
        <p>gallery:</p>
        <div class="flex w-screen flex-no-wrap overflow-x-scroll scrolling-touch hide-scroll-bar justify-items-start mb-8">
            {% for image in user.user_profile.images.all %}
                <div class="shrink-0">  
                    <img class="border h-96" src={{image.url}} alt="{{user.first_name}} {{user.last_name}}'s gallery">
                    {% if user == request.user %}
                        <a class="top-0 right-0 inline-block px-6 py-2.5 bg-rose-200 text-white font-large text-xl leading-tight uppercase rounded shadow-md hover:bg-rose-300 hover:shadow-lg focus:bg-rose-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-rose-400 active:shadow-lg transition duration-150 ease-in-out" 
                        href="{% url 'delete_image' image.id %}">X</a>
                    {% endif %}
                </div>  
            {% endfor %}
        </div>
    {% endif %}
    {% if user == request.user %}
        {% if friends %}
        <p>friends:</p>
        <span>Sort by:</span>
        <button id="friends-name" class="cursor-pointer inline-block px-6 py-2.5 bg-sky-200 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-sky-300 hover:shadow-lg focus:bg-sky-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-sky-400 active:shadow-lg transition duration-150 ease-in-out">Name</button>
        <button id="friends-distance" class="cursor-pointer inline-block px-6 py-2.5 bg-rose-200 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-rose-300 hover:shadow-lg focus:bg-rose-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-rose-400 active:shadow-lg transition duration-150 ease-in-out">Distance</button>
        <div id="friends-div" class="flex w-4/5 flex-no-wrap overflow-x-scroll scrolling-touch hide-scroll-bar items-start mb-8">
            
        </div>
        {% endif %}
        {% if followers %}
            <p>followers:</p>
            <span>Sort by:</span>
            <button id="followers-name" class="cursor-pointer inline-block px-6 py-2.5 bg-sky-200 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-sky-300 hover:shadow-lg focus:bg-sky-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-sky-400 active:shadow-lg transition duration-150 ease-in-out">Name</button>
            <button id="followers-distance" class="cursor-pointer inline-block px-6 py-2.5 bg-rose-200 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-rose-300 hover:shadow-lg focus:bg-rose-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-rose-400 active:shadow-lg transition duration-150 ease-in-out">Distance</button>
            <div id="followers-div" class="flex w-4/5 flex-no-wrap overflow-x-scroll scrolling-touch hide-scroll-bar items-start mb-8">
                
            </div>
        {% endif %}
        {% if following %}
            <p>following:</p>
            <div class="mb-2">
                <span>Sort by:</span>
                <button id="following-name" class="cursor-pointer inline-block px-6 py-2.5 bg-sky-200 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-sky-300 hover:shadow-lg focus:bg-sky-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-sky-400 active:shadow-lg transition duration-150 ease-in-out">Name</button>
                <button id="following-distance" class="cursor-pointer inline-block px-6 py-2.5 bg-rose-200 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-rose-300 hover:shadow-lg focus:bg-rose-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-rose-400 active:shadow-lg transition duration-150 ease-in-out">Distance</button>
            </div>
            <div id="following-div" class="flex w-4/5 flex-no-wrap overflow-x-scroll scrolling-touch hide-scroll-bar items-start mb-8">
                
            </div>
        {% endif %}
    {% else %}  
        {% if friends %}
            <p>friends:</p>
            <div class="flex w-screen flex-no-wrap overflow-x-scroll scrolling-touch hide-scroll-bar items-start mb-8">
                {% for friend in friends %}
                    <div class="mx-2">
                        <a href="{% url 'profile' friend.id %}"><img class=" border w-24 h-24 rounded-full" src={{friend.user_profile.profile_image}} alt="{{friend.first_name}} {{friend.last_name}}'s profile picture"></a>
                        <a href="{% url 'profile' friend.id %}"><p>{{friend.first_name}}</p><p>{{friend.last_name}}</p></a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if followers %}
            <p>followers:</p>
            <div class="flex w-screen flex-no-wrap overflow-x-scroll scrolling-touch hide-scroll-bar items-start mb-8">
                {% for follower in followers %}
                    <div class="mx-2">
                        <a href="{% url 'profile' follower.id %}"><img class=" border w-24 h-24 rounded-full" src={{follower.user_profile.profile_image}} alt="{{follower.first_name}} {{follower.last_name}}'s profile picture"></a>
                        <a href="{% url 'profile' follower.id %}"><p>{{follower.first_name}}</p><p>{{follower.last_name}}</p></a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if following %}
            <p>following:</p>
            <div class="flex w-screen flex-no-wrap overflow-x-scroll scrolling-touch hide-scroll-bar items-start mb-8">
                {% for followee in following %}
                    <div class="mx-2">
                        <a href="{% url 'profile' followee.id %}"><img class=" border w-24 h-24 rounded-full" src={{followee.user_profile.profile_image}} alt="{{followee.first_name}} {{followee.last_name}}'s profile picture"></a>
                        <a href="{% url 'profile' followee.id %}"><p>{{followee.first_name}}</p><p>{{followee.last_name}}</p></a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
    {% if user == request.user %}
        {% if feed %}
            <div class="text-center">
                <p>Your posts:</p>
            </div>
        {% endif %}
    {% endif %}
    {% for post in feed %}
        <figure class="bg-slate-50 rounded-xl p-4 m-2">
            <div class="space-y-4" id="post">
                <div class="flex" id="post-head">
                    <a href="{% url 'profile' post.user.id %}"><img class="mr-2 border w-24 h-24 rounded-full" src={{post.user.user_profile.profile_image}} alt="{{post.user.first_name}} {{post.user.last_name}}'s profile picture"></a>
                    <div class="text-left">    
                        <a class="text-slate-500" href="{% url 'profile' post.user.id %}">{{post.user.first_name}} {{post.user.last_name}}</a>
                        <span class="text-slate-500">Created: {{post.date_created}}</span>
                        <span class="text-slate-500">Edited: {{post.date_edited}}</span>
                        {% if post.image %}
                            <img class="border h-96" src={{post.image}} alt="{{post.user.first_name}} {{post.user.last_name}}'s post">
                        {% elif post.video %}
                            <iframe width="560" height="320" src="{{post.video}}&origin=http://localhost" alt="{{post.user.first_name}} {{post.user.last_name}}'s post"></iframe>
                        {% endif %}
                        <p>{{post.text_content}}</p>
                    </div>
                </div>
                <a class="inline-block px-6 py-2.5 bg-sky-200 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-sky-300 hover:shadow-lg focus:bg-sky-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-sky-400 active:shadow-lg transition duration-150 ease-in-out" href={% url 'comments' post.id %}>Comments</a>
                {% if post.user == request.user %}
                    <a class="inline-block px-6 py-2.5 bg-rose-200 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-rose-300 hover:shadow-lg focus:bg-rose-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-rose-400 active:shadow-lg transition duration-150 ease-in-out" 
                    href={% url 'edit_post' post.id %}>Edit</a>
                    <a onclick="delete_post({{post.id}});" class="cursor-pointer inline-block px-6 py-2.5 bg-yellow-200 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-yellow-300 hover:shadow-lg focus:bg-yellow-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-yellow-400 active:shadow-lg transition duration-150 ease-in-out">Delete</a>
                {% endif %}
            </div>
        </figure>
    {% endfor %}
{% endblock content %}